body{
    font-family: gothic;
}
.forPadding{
    position: absolute;
    height: auto;
    width: auto;
    top: 70%;
    left: 22%;
  }
  #img_1{
      height: 600px;
  }
  .icon{
      float: right;
  }
  #img_4{
      height: 130px;
      width: 150px;
      color: tomato;
      background-color: tomato;
  }
.navbar {
    overflow: hidden;
    background-color: #333;
  }
  
  #subnav a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  #subnav a:hover, .dropdown:hover .dropbtn {
    background-color: red;
  }
  #nav{
    color: antiquewhite;
}
#orderPlacement{
    position: absolute;
    height: auto;
    width: auto;
    left: 65%;
    color: antiquewhite;
  }
  .jumbotron{
      background-color: tomato;
      color: antiquewhite;
  }
#changetxt{
    color: greenyellow;
}
#forForm{
    font-size: 20px;
}
#delivery{
  color: antiquewhite;
}
#delivery1{
  color: antiquewhite;
}
#size{
  background-color: tomato;
  color: antiquewhite;
}
#Topping{
  background-color: tomato;
  color: antiquewhite;
}
#Crust{
  background-color: tomato;
  color: antiquewhite;
}
#styling{
  text-align: justify;
  text-align: center;
  font-size: 17px;
}
h3{
  text-align: center;
}
#img_04{
  height: 200px;
}
#img_03{
  height: 200px;
}

#img_02{
  height: 200px;
}

#img_01{
  height: 200px;
}
